<!-- Basic Meta Tags -->
<meta charset="<%= metadata.charset %>">
<meta name="viewport" content="<%= metadata.viewport %>">
<meta name="description" content="<%= metadata.description %>">
<meta name="author" content="<%= metadata.author %>">
<meta name="robots" content="<%= metadata.robots %>">

<!-- Page Title -->
<title><%= metadata.title %></title>
